<a href="/">Back to Home</a>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>{{post.title}}</h1>
    <h2>{{post.postTitle}}</h2>
    <p>{{post.description}}</p>
    <p><a href="/posts/{{post._id}}/edit">Edit</a></p>
    <p><form method="POST" action="/posts/{{post._id}}?_method=DELETE">
        <button class="btn btn-primary" type="submit">Delete</button>
    </form></p>

    <hr>

    <!-- Comment form -->
    {{> comment-form}}

  </div>
</div>












<!-- <a href="/">Back to Home</a>

<h1>{{post.title}}</h1>
<h2>{{post.subjectTitle}}</h2>
<p>{{post.description}}</p> -->
